@model IEnumerable<Proyecto_Programacion_III.Models.Entidades.Servicos>

@{
    ViewData["Title"] = "Lista de Servicos";
}
<h2>Lista de Serviços</h2>

@if (User.IsInRole("Administrador"))
{
    <p>
        <a asp-action="Create" class="btn btn-primary">Cadastrar Servicos</a>
    </p>
}

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Valor</th>
            <th>Estado</th>
            @if (User.IsInRole("Administrador"))
            {
                <th>Ações</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Nome</td>
                <td>@item.Valor</td>
                <td>@item.Estado</td>
                @if (User.IsInRole("Administrador"))
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ServicosId" class="btn btn-primary btn-sm">Editar</a>
                        <a asp-action="Delete" asp-route-id="@item.ServicosId" class="btn btn-primary btn-sm">Deletar</a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>