@model Proyecto_Programacion_III.Models.Entidades.Agendamentos 

<form asp-action="Create" method="post">
    <h2>Creacion de Agendamento</h2>
    <br />
 
    <h5>Seleccione cliente</h5>
    <select asp-for="ClienteId" class="form-control" required>
        <option disabled selected value="">-- Seleccione Cliente --</option>
        @foreach (var item in ViewBag.Clientes)
        {
            <option value="@item.ClienteId">@item.NomeCompleto</option>
        }
    </select>
    <span asp-validation-for="ClienteId" class="text-danger"></span>
    <br />

    <h5>Seleccione Servicos</h5>
    <select asp-for="ServicosId" class="form-control" required>
        <option disabled selected value="">-- Seleccione Servicos --</option>
        @foreach (var item in ViewBag.Servicoss)
        {
            <option value="@item.ServicosId">@item.Nome</option>
        }
    </select>
    <span asp-validation-for="ServicosId" class="text-danger"></span>
    <br />
    
    <h5>Seleccione usuario</h5>
    <select asp-for="UsuarioId" class="form-control" required>
        <option disabled selected value="">-- Seleccione Usuario --</option>
        @foreach (var item in ViewBag.Usuarios)
        {
            <option value="@item.Id">@item.Nome</option>
        }
    </select>
    <span asp-validation-for="UsuarioId" class="text-danger"></span>
    
    <br />
    <h5>Seleccione fecha</h5>
    <input asp-for="FechaHora" type="datetime-local" class="form-control" />
    <span asp-validation-for="FechaHora" class="text-danger"></span>
    <br />

    <button type="submit" class="btn-primary">Guardar</button>

</form>