@model IEnumerable<Proyecto_Programacion_III.Models.Entidades.Agendamentos>
@using Proyecto_Programacion_III.Models.Entidades.Opciones

<h2>Lista de Agendamentos</h2>

<a asp-action="Create" class="btn btn-primary">Novo Agendamento</a>

<table class="table">
    <thead>
        <tr>
            <th>Cliente</th>
            <th>Servicos</th>
            <th>Usuario</th>
            <th>Fecha</th>
            <th>Estado</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Cliente?.NomeCompleto</td>
                <td>@item.Servicos?.Nome</td>
                <td>@item.Data</td>
                <td>@item.Estado</td>
                <td>
                    @if (item.Estado != EstadoAgendamentos.Cancelada)
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Editar</a>
                        <a asp-action="Cancelar" asp-route-id="@item.Id" class="btn btn-danger">Cancelar</a>
                    }
                    else
                    {
                        <span class="text-danger">Cancelada</span>
                    }
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>