@model Proyecto_Programacion_III.Models.Entidades.Veiculo

<h1>Detalhes do Veículo</h1>

<div>
    <dl class="row">
        <dt class="col-sm-2">Cliente</dt>
        <dd class="col-sm-10">@Model.Cliente.NomeCompleto</dd>

        <dt class="col-sm-2">Modelo</dt>
        <dd class="col-sm-10">@Model.Modelo</dd>

        <dt class="col-sm-2">Placa</dt>
        <dd class="col-sm-10">@Model.Placa</dd>

        <dt class="col-sm-2">Marca</dt>
        <dd class="col-sm-10">@Model.Marca</dd>

        <dt class="col-sm-2">Cor</dt>
        <dd class="col-sm-10">@Model.Cor</dd>

        <dt class="col-sm-2">Ano</dt>
        <dd class="col-sm-10">@Model.Ano</dd>
    </dl>
</div>

<a asp-action="Edit" asp-route-id="@Model.VeiculoId" class="btn btn-warning">Editar</a>
<a asp-action="Index" class="btn btn-secondary">Voltar</a>